RewriteEngine on
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\\ /index\\.html\\ HTTP/
RewriteRule ^index\\.html$ https://gallocreatif.com/ [R=301,L]
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\\ /index\\.php\\ HTTP/
RewriteRule ^index\\.php$ https://gallocreatif.com/ [R=301,L] 