/* botones generales */

button {
    font-family: $wix;
    font-weight: 100;
    border: none;
    border-bottom: 1px solid $negro;
    color: $negro;
    padding: 10px;
    margin: 10px 0px 15px 0px;
    display: flex;
    align-items: center;
    background-color: transparent;
    &:hover {
        border-bottom: 1px solid $azul;
        padding-left: 20px;
        padding-right: 20px;
        color: $azul;
        cursor: pointer;
        transition: 0.7s;
    }
}
.blanco {
    color: $blanco;
    border-bottom: 1px solid $blanco;
    &:hover {
        color: $verde;
        border-bottom: 1px solid $verde;
    }
}
.chevron {
    width: 20px;
    padding: 3px;
}

/* botones form */

.botones-formulario {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

/* botones del header */

.boton-whatsapp {
    position: fixed;
    top: 550px;
    z-index: 100;
    left: 0;
    padding: 20px;
    width: 50px;
    background-color: $negro;
    color: $blanco;
    font-size: 10px;
    letter-spacing: 1px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    &:hover {
        color: $negro;
        background-color: $verde;
        transition: 0.5s;
        width: 60px;
    }
}
#wa-portfolio {
    background-color: $beige;
    color: $negro;
    &:hover {
        background-color: $verde;
        color: $negro;
    }
}