.cards-portfolio {
    padding: 15px 0px 15px 0px;
    img {
        width: 100%;
        border-radius: 20px;
    }
    section {
        position: relative;
        z-index: 100;
        padding: 25px;
        border-radius: 20px;
        margin-top: -80px;
        z-index: 1;
        background-color: map-get($colores, hueso);
        color: map-get($colores, negro);
        .info-cards {
            @include flex ($direction: row, $justify: space-between, $align: center);
        }
    }
}

.contenido-modal {
    text-align: center;
    background-color: map-get($colores, hueso);
    div {
        padding: 10px;
        .logos-clientes {
            border-radius: 0;
            @include centrar (200px);
            padding: 20px;
        }
    }
    .galeria-clientes {
        img {
            border-radius: 50px;
            padding: 20px;
        }
    }
}

.header-modal {
    background-color: map-get($colores, hueso);
    border: none;
}

.boton-cerrar-modal {
    &:hover {
        border: none;
    }
}


/* Media queries tablet */

@media screen and (min-width: 768px) {
    .cards-portfolio {
        padding: 15px;
    }
    .contenido-modal {
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: auto;
    }
}

/* Media queries desktop  */
@media screen and (min-width: 1250px) {
    .contenido-modal {
        grid-template-columns: 30% 70%;
        div {
            padding: 30px;
        }
        .galeria-clientes {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 50% 50%;
        }
    }
}