form {
    font-family: $wix;
    @include flex ($direction: column, $justify: flex-start, $align: stretch);
    margin: 14px 0px 15px 0px;
    input {
        width: 100%;
        height: 40px;
        border: none;
        background-color: map-get($colores, hueso);
        font-family: $wix;
        font-weight: 300;
        font-size: 10px;
        letter-spacing: 0.5px;
        padding: 10px;
        border-radius: 10px;
        &:focus {
            outline: none;
            background-color: map-get($colores, verde);
        }
    }
    span, label {
        padding: 10px;
    }
    select {
        width: 100%;
        height: 40px;
        border: none;
        background-color: map-get($colores, hueso);
        font-weight: 300;
        font-size: 10px;
        letter-spacing: 0.5px;
        padding: 10px;
        border-radius: 10px;
        &:hover {
            outline: none;
            background-color: map-get($colores, verde);
        }
    }
    textarea {
        width: 100%;
        padding: 15px;
        border: none;
        border-radius: 15px;
        background-color: map-get($colores, hueso);
        font-family: $wix;
        font-weight: 300;
        font-size: 10px;
        letter-spacing: 0.5px;
        &:focus {
            outline: none;
            background-color: map-get($colores, verde);
        }
    }
    [type=radio] {
        cursor: pointer;
        height: 20px;
        width: 20px;
        border-radius: 100%;
    }
    [type=checkbox] {
        cursor: pointer;
        height: 20px;
        width: 20px;
    }
    [type="submit"], [type="reset"] {
        font-family: $wix;
        font-weight: 100;
        font-size: 13px;
        border: none;
        border-bottom: 1px solid map-get($colores, blanco);
        border-radius: 0px;
        color: map-get($colores, blanco);
        width: 25%;
        padding: 10px;
        margin: 10px 0px 15px 0px;
        @include flex ($direction: row, $justify: space-between, $align: center);
        background-color: transparent;
        &:hover {
            padding-left: 20px;
            padding-right: 20px;
            cursor: pointer;
            transition: 0.7s;
        }
    }
}

.newsletter-formulario {
    padding-top: 20px;
    @include flex ($direction: row, $justify: flex-end, $align: center);
}
.tratamiento-datos-formulario {
    @include flex ($direction: row, $justify: flex-end, $align: center);
}