form {
    font-family: $wix;
    display: flex;
    flex-direction: column;
    margin: 14px 0px 15px 0px;
    input {
        border: none;
        background-color: $beige;
        font-family: $wix;
        font-weight: 300;
        font-size: 10px;
        letter-spacing: 0.5px;
        padding: 10px;
        border-radius: 10px;
        &:focus {
            outline: none;
            background-color: $verde;
        }
    }
    span, label {
        padding: 10px;
    }
    select {
        border: none;
        background-color: $beige;
        font-weight: 300;
        font-size: 10px;
        letter-spacing: 0.5px;
        padding: 10px;
        border-radius: 10px;
        &:hover {
            outline: none;
            background-color: $verde;
        }
    }
    textarea {
        width: 100%;
        padding: 15px;
        border: none;
        border-radius: 15px;
        background-color: $beige;
        font-family: $wix;
        font-weight: 300;
        font-size: 10px;
        letter-spacing: 0.5px;
        &:focus {
            outline: none;
            background-color: $verde;
        }
    }
    [type=radio] {
        cursor: pointer;
        height: 20px;
        width: 20px;
        border-radius: 100%;
    }
    [type=checkbox] {
        cursor: pointer;
        height: 20px;
        width: 20px;
    }
    [type="submit"], [type="reset"] {
        font-family: $wix;
        font-weight: 100;
        font-size: 13px;
        border: none;
        border-bottom: 1px solid $blanco;
        border-radius: 0px;
        color: $blanco;
        width: 25%;
        padding: 10px;
        margin: 10px 0px 15px 0px;
        display: flex;
        align-items: center;
        background-color: transparent;
        &:hover {
            padding-left: 20px;
            padding-right: 20px;
            cursor: pointer;
            transition: 0.7s;
        }
    }
}

.newsletter-formulario {
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.tratamiento-datos-formulario {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}