body{
    width:100%;
    overflow-x:hidden;
    position: relative;
}
main {
    background-color: $beige;
}
a {
    text-decoration: none;
    color: $negro;
    &:hover {
        color: $negro;
    }
}