body{
    width:100%;
    overflow-x:hidden;
    position: relative;
}
main {
    background-color: map-get($colores, hueso);
}
a {
    text-decoration: none;
    color: map-get($colores, negro);
    &:hover {
        color: map-get($colores, negro);
    }
}