.logo-header {
    position: fixed;
    top: 13px;
    z-index: 100;
    right: 1%;
    width: 100px;
    padding: 13px;
    background-color: map-get($colores, blanco);
    border-radius: 10px;
}
.logo-about-us {
    width: 100%;
}

/* Media queries tablet */

@media screen and (min-width: 768px) {
    .logo-header {
        width: 130px;
        padding: 15px;
        border-radius: 15px;
    }
}