.nuestra-esencia {
    padding: 50px;
}
#acrostico {
    width: 70%;
    display: block;
    margin: 0 auto;
}
#formula {
    width: 70%;
    display: block;
    margin: 0 auto;
}
.columnas-about-us {
    padding: 50px;
    text-align: center;
    div {
        padding: 10px;
    }
    img {
        width: 50%;
        padding-bottom: 15px;
        display: block;
        margin: 0 auto;
    }
}
.columnas-core-process {
    padding: 50px 60px 50px 60px;
    text-align: center;
    div {
        padding: 10px;
    }
    img {
        width: 30%;
        padding-bottom: 15px;
        display: block;
        margin: 0 auto;
    }
}

/* Media queries tablet */

@media screen and (min-width: 768px) {
    .nuestra-esencia {
        padding: 0px 50px 0px 50px;
        display: flex;
        align-items: center;
        div {
            padding: 20px;
        }
    }
    .columnas-about-us {
        display: flex;
    }
    .columnas-core-process {
        display: flex;
        justify-content: space-between;
        div {
            width: 30%;
        }
    }
}

/* Media queries desktop pequeño */

@media screen and (min-width:1250px) {
    .nuestra-esencia {
        padding: 0px 100px 0px 100px;
        div {
            padding: 30px;
        }
    }
    .columnas-about-us {
        div {
            padding: 0px 50px 0px 50px;
        }
    }
    .columnas-core-process {
        div {
            padding: 0px 50px 0px 50px;
        }
    }
}