.nuestra-esencia {
    padding: 50px;
    .acrostico {
        @include flex ($direction:row, $justify:center, $align:center);
        flex-wrap: nowrap;
        span {
            margin: 6px;
            #vertical {
                font-family: $wix;
                text-align: center;
                color: map-get($colores, blanco);
                background-color: map-get($colores, negro);
                width: 39px;
                height: 39px;
            }
            h6 {
                background-color: map-get($colores, blanco);
                padding: 10px;
                border-radius: 10px;
            }
        }
    }
}
#formula {
    @include centrar (70%);
}
.columnas-about-us {
    padding: 50px;
    text-align: center;
    div {
        padding: 10px;
        img {
            width: 50%;
            padding-bottom: 15px;
            display: block;
            margin: 0 auto;
        }
    }
}
.columnas-core-process {
    padding: 50px 60px 50px 60px;
    text-align: center;
    div {
        padding: 10px;
        img {
            width: 30%;
            padding-bottom: 15px;
            display: block;
            margin: 0 auto;
        }
    }
}

/* Media queries tablet */

@media screen and (min-width: 768px) {
    .nuestra-esencia {
        padding: 0px 50px 0px 50px;
        display: flex;
        align-items: center;
        div {
            padding: 10px;
        }
    }
    .columnas-about-us {
        display: flex;
        justify-content: space-between;
    }
    .columnas-core-process {
        display: flex;
        justify-content: space-between;
        div {
            img {
                width: 100px;
                height: 100px;
            }
            width: 400px;
        }
    }
}

/* Media queries desktop pequeño */

@media screen and (min-width:1250px) {
    .nuestra-esencia {
        padding: 0px 100px 0px 100px;
        div {
            padding: 30px;
        }
    }
    .columnas-about-us {
        div {
            padding: 0px 50px 0px 50px;
        }
    }
    .columnas-core-process {
        padding: 30px 100px 0px 100px;
    }
}