.mail-tel-contact {
    ul {
        display: flex;
        flex-flow: column nowrap;
        list-style-type: none;
    }
    a {
        padding: 5px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        &:hover {
            background-color: #E2FFA4;
            border-radius: 20px;
            padding-left: 20px;
            transition: 0.8s;
        }
    }
}
.contact-1 {
    padding: 50px;
    background-color: #F5F3EE;
}
.contact-2 {
    padding: 50px;
    background-color: #181818;
    color: #ffffff;
}
.info-contact {
    div {
        padding: 10px 0px 10px 0px;
    }
}

/* Media queries tablet */

@media screen and (min-width: 768px) {
    .mail-tel-contact {
        h4 {
            font-size: 30px;
        }
    }
}

/* Media queries desktop pequeño */

@media screen and (min-width:1250px) {
    .contact-1 {
        padding: 100px 50px 50px 100px;
    }
    .contact-2 {
        padding: 120px 80px 50px 80px;
    }
}