.mail-tel-contact {
    ul {
        display: flex;
        flex-flow: column nowrap;
        list-style-type: none;
        li {
            a {
                padding: 5px;
                @include flex ($direction:row, $justify:flex-start, $align:center);
                &:hover {
                    background-color: map-get($colores, verde);
                    border-radius: 20px;
                    padding-left: 20px;
                    transition: 0.8s;
                }
            }
        }
    }
}
.contact-1 {
    padding: 50px;
    background-color: map-get($colores, hueso);
}
.contact-2 {
    padding: 50px;
    background-color: map-get($colores, gris-oscuro);
    color: map-get($colores, blanco);
}
.info-contact {
    div {
        padding: 10px 0px 10px 0px;
    }
}

/* Media queries tablet */

@media screen and (min-width: 768px) {
    .mail-tel-contact {
        ul {
            li {
                a {
                    h5 {
                        font-size: 25px;
                    }
                }
            }
        }
    }
}

/* Media queries desktop pequeño */

@media screen and (min-width:1250px) {
    .contact-1 {
        padding: 100px 50px 50px 100px;
    }
    .contact-2 {
        padding: 120px 80px 50px 80px;
    }
}