.servicios-actuales {
    padding: 50px;
    text-align: center;
}
.servicios-actuales div {
    padding: 5px;
}
.servicios-actuales img {
    width: 25%;
}
.servicios-futuros {
    padding: 50px;
    text-align: center;
}
.servicios-futuros div {
    padding: 5px;
}
.servicios-futuros img {
    width: 25%;
}