.servicios-actuales {
    padding: 50px;
    text-align: center;
    div {
        padding: 5px;
    }
    img {
        width: 70px;
        height: 70px;
    }
}
.servicios-futuros {
    padding: 50px;
    text-align: center;
    div {
        padding: 5px;
    }
    img {
        width: 70px;
        height: 70px;
    }
}

/* Media queries tablet */

@media screen and (min-width: 768px) {
    .servicios-actuales {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        align-items: center;
        .servicio-individual {
            text-align: left;
            @include flex ($direction:row, $justify:space-between, $align:center);
            flex-wrap: nowrap;
            img {
                margin: 10px;
            }
        }
    }
    .servicios-futuros {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        .servicio-futuro-individual {
            margin: 0px 50px 0px 50px;
            img {
                margin: 10px;
            }
        }
    }
}

/* Media queries desktop pequeño */

@media screen and (min-width:1250px) {
    .servicios-actuales {
        padding: 0px 200px 50px 200px;
    }
    .servicios-futuros {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 100%;
        align-items: center;
        .servicio-futuro-individual {
            margin: 0px 50px 0px 50px;
        }
    }
}