.nuestra-esencia {
    padding: 50px;
    .acrostico {
        @include flex ($direction:row, $justify:center, $align:center);
        flex-wrap: nowrap;
        span {
            margin: 6px;
            #vertical {
                font-family: $wix;
                text-align: center;
                color: map-get($colores, blanco);
                background-color: map-get($colores, negro);
                width: 39px;
                height: 39px;
            }
            h6 {
                background-color: map-get($colores, blanco);
                padding: 10px;
                border-radius: 10px;
            }
        }
    }
    .formula {
        @include flex ($direction:column, $justify:center, $align:flex-start);
        .suma {
            @include flex ($direction:row, $justify:center, $align:flex-end);
            flex-wrap: nowrap;
            font-family: $wix;
            font-size: 55px;
            font-weight: 600;
            line-height: 50px;
            padding: 10px;
            #punto-azul {
                color: map-get($colores, azul)
            }
            #punto-verde {
                color: map-get($colores, verde)
            }
        }
        .igual {
            @include flex ($direction:row, $justify:flex-start, $align:flex-start);
            flex-wrap: nowrap;
            padding: 10px;
            border-top: $borde-negro;
            width: 100%;
            div {
                width: 100%;
                font-family: $parrafos;
                font-size: 1.1em;
                font-weight: 300;
                line-height: 1.2em;
            }
        }
    }
}
.columnas-about-us {
    padding: 50px;
    text-align: center;
    div {
        padding: 10px;
        img {
            width: 50%;
            padding-bottom: 15px;
            display: block;
            margin: 0 auto;
        }
    }
}
.columnas-core-process {
    padding: 50px 60px 50px 60px;
    text-align: center;
    div {
        padding: 10px;
        img {
            width: 30%;
            padding-bottom: 15px;
            display: block;
            margin: 0 auto;
        }
    }
}

/* Media queries tablet */

@media screen and (min-width: 768px) {
    .nuestra-esencia {
        padding: 0px 50px 0px 50px;
        display: flex;
        align-items: center;
        .formula {
            div {
                padding: 0px;
            }
            .igual {
                width: 80%;
            }
        }
        div {
            padding: 10px;
        }
    }
    .columnas-about-us {
        display: flex;
        justify-content: space-between;
    }
    .columnas-core-process {
        display: flex;
        justify-content: space-between;
        div {
            img {
                width: 100px;
                height: 100px;
            }
            width: 400px;
        }
    }
}

/* Media queries desktop pequeño */

@media screen and (min-width:1250px) {
    .nuestra-esencia {
        padding: 0px 150px 0px 150px;
        div {
            padding: 30px;
        }
    }
    .columnas-about-us {
        div {
            padding: 0px 50px 0px 50px;
        }
    }
    .columnas-core-process {
        padding: 30px 100px 0px 100px;
    }
}