/* Maps */
$colores: (
    /* Primarios */
    negro: #000,
    blanco: #fff,
    hueso: #F5F3EE,
    gris-oscuro: #181818,
    /* Secundarios */
    azul: #0025FF,
    verde: #E2FFA4,
    /* Terciarios */
    verde-claro: #F5FFDE,
    gris-medio: #232323,
);

/* Variables de tipografías */
$wix: 'Wix Madefor Display', sans-serif;
$parrafos: 'Montserrat', sans-serif;

/* Variables de bordes */
$borde-negro: 1px solid map-get($colores, negro);
$borde-blanco: 1px solid map-get($colores, blanco);
$borde-azul: 1px solid map-get($colores, azul);
$borde-verde: 1px solid map-get($colores, verde);