@mixin centrar ($ancho) {
    width: $ancho;
    display: block;
    margin: 0 auto;
}
/* Este Mixin está aplicado en ".acróstico" y ".fórmula" del partial main-about-us */
/* Lo añado con este código: @include centrar (x);" */