.portadas {
    padding: 50px;
    padding-top: 90px;
}
.portadas-secundarias {
    padding: 30px;
}
.portada-portfolio {
    padding: 0px 50px 10px 50px;
    background-color: #181818;
    color: #ffffff;
}