/* Media queries tablet */

@media screen and (min-width: 768px) {
    .logo-header {
        width: 130px;
        padding: 15px;
        border-radius: 15px;
    }
    .parrafo-50 {
        width: 50%;
    }
    .portadas {
        position: relative;
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 50% 50%;
        grid-template-areas:
        "texto-index core-process-index"
        "texto-index video-portada";
    }
    .titulos-portadas {
        font-size: 60px;
        line-height: 60px;
    }
    .texto-index {
        grid-area: texto-index;
        z-index: 1;
    }
    .video-portada {
        grid-area: video-portada;
        width: 440px;
        position: absolute;
        left: -190px;
        top: -20px;
    }
    .core-process-index {
        position: absolute;
        left: 30px;
        top: 30px;
        padding: 20px 40px 20px 40px;
        z-index: 1;
        background-color: #ffffff;
        border-radius: 20px;
        grid-area: core-process-index;
    }
    .core-process-index div {
        justify-content: start;
    }
    .grid-portfolio-index {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
    .cards-portfolio {
        padding: 15px;
    }
    .nuestra-esencia {
        padding: 0px 50px 0px 50px;
        display: flex;
        align-items: center;
    }
    .nuestra-esencia div {
        padding: 20px;
    }
    .columnas-about-us {
        display: flex;
    }
    .columnas-core-process {
        display: flex;
        justify-content: space-between;
    }
    .columnas-core-process div {
        width: 30%;
    }

    /* WHAT WE DO */
    .servicios-actuales {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        align-items: center;
    }
    .servicio-individual {
        text-align: left;
        display: flex;
    }
    .servicio-individual img {
        width: 80px;
        margin: 10px;
    }
    .servicios-futuros {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        align-items: center;
    }
    .servicio-futuro-individual {
        margin: 0px 50px 0px 50px
    }
    .servicio-futuro-individual img {
        margin: 10px;
    }

    /* PORTFOLIO */
    .portfolio-grid {
        padding: 20px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
    }

    /* CONTACT */
    .mail-tel-contact h4{
        font-size: 30px;
    }
}

/* DISEÑO LARGE */

@media screen and (min-width: 992px) {
    .hamburguesa {
        display: none;
    }
    .hamburguesa-fondo-negro {
        display: none;
    }
    .links-navegacion {
        display: flex;
        flex-flow: row nowrap;
        list-style-type: none;
        background-color: #ffffff;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    .links-navegacion a {
        display: flex;
        align-items: center;
        padding: 5px;
        margin: 0px 10px 0px 10px;
    }
    .links-navegacion a img {
        padding-right: 10px;
    }
    .links-navegacion a p {
        font-family: 'Wix Madefor Display', sans-serif;
        letter-spacing: 1px;
        font-size: 10px;
    }
    .links-navegacion a:hover {
        margin-top: 3px;
        transition: 0.5s;
        color: #0025FF;
    }
}

/* DISEÑO DESKTOP PEQUEÑO*/

@media screen and (min-width:1250px) {
    .parrafo-50 {
        padding-top: 20px;
        width: 40%;
    }
    .portadas {
        padding: 110px;
        padding-top: 140px;
        grid-template-columns: 80% 20%;
        grid-template-rows: 50% 50%;
    }
    .titulos-portadas {
        font-family: 'Wix Madefor Display', sans-serif;
        font-weight: 100;
        font-size: 90px;
        line-height: 100px;
        padding-top: 80px;
    }
    .titulo-portada-contact {
        font-size: 70px;
        line-height: 70px;
    }
    .video-portada {
        left: -450px;
        top: 10px;
        width: 550px;
        margin-bottom: 30px;
    }
    .core-process-index {
        z-index: 1;
        left: -20px;
        top: 5px;
        background-color: transparent;
        grid-area: core-process-index;
    }
    .portfolio-index {
        padding: 110px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }
    .grid-portfolio-index {
        justify-content: center;
    }
    .titulos-gigantes {
        font-size: 80px;
        line-height: 80px;
        padding-right: 20px;
    }
    footer {
        padding: 50px 150px 50px 150px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    /* ABOUT US */
    .portadas-secundarias {
        padding: 50px 200px 50px 200px;
    }
    .nuestra-esencia {
        padding: 0px 100px 0px 100px;
    }
    .nuestra-esencia div {
        padding: 30px;
    }
    .columnas-about-us div {
        padding: 0px 50px 0px 50px;
    }
    .columnas-core-process div {
        padding: 0px 50px 0px 50px;
    }
    /* WHAT WE DO */
    .servicios-actuales {
        padding: 0px 200px 0px 200px;
    }
    .servicios-futuros {
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 50% 50%;
        align-items: center;
        padding: 20px 100px 20px 100px;
    }
    .servicio-futuro-individual {
        margin: 0px 50px 0px 50px
    }
    /* PORTFOLIO */
    .portfolio-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
    }
    .portada-portfolio {
        padding: 130px 100px 20px 100px;
    }

    /* CONTACT */
    .contact-1 {
        padding: 100px 50px 50px 100px;
    }
    .contact-2 {
        padding: 120px 80px 50px 80px;
    }
}

/* DISEÑO DESKTOP MEDIANO*/

@media screen and (min-width:1550px) {
    .titulos-portadas {
        font-size: 120px;
        line-height: 140px;
    }
    .video-portada {
        left: -450px;
        top: 10px;
        width: 670px;
        margin-bottom: 50px;
    }
    #card-hide {
        display: block;
    }
}

/* DISEÑO DESKTOP GRANDE (IMAC 24')*/

@media screen and (min-width:1980px) {
    .titulos-portadas {
        font-size: 140px;
    }
    p {
        font-size: 17px;
    }
    .video-portada {
        left: -650px;
        top: 10px;
        width: 800px;
        margin-bottom: 50px;
    }
    #card-hide {
        display: block;
    }
    .grid-portfolio-index {
        margin-top: 70px;
    }
}