@font-face {
    font-family: 'Wix Madefor Text';
    font-style: normal;
    font-weight: 400;
    src: local('Wix Madefor Text'), url('../fonts/assets/WixMadeforTextRegular.woff') format('woff');
}
@font-face {
    font-family: 'Wix Madefor Text';
    font-style: italic;
    font-weight: 400;
    src: local('Wix Madefor Text'), url('../fonts/assets/WixMadeforTextItalic.woff') format('woff');
}
@font-face {
    font-family: 'Wix Madefor Text';
    font-style: normal;
    font-weight: 700;
    src: local('Wix Madefor Text'), url('../fonts/assets/WixMadeforTextBold.woff') format('woff');
}
@font-face {
    font-family: 'Wix Madefor Text';
    font-style: italic;
    font-weight: 700;
    src: local('Wix Madefor Text'), url('../fonts/assets/WixMadeforTextBoldItalic.woff') format('woff');
}
@font-face {
    font-family: 'Wix Madefor Text';
    font-style: normal;
    font-weight: 800;
    src: local('Wix Madefor Text'), url('../fonts/assets/WixMadeforTextXBold.woff') format('woff');
}
@font-face {
    font-family: 'Wix Madefor Text';
    font-style: italic;
    font-weight: 800;
    src: local('Wix Madefor Text'), url('../fonts/assets/WixMadeforTextXBoldItalic.woff') format('woff');
}
@font-face {
    font-family: 'Wix Madefor Display';
    font-style: normal;
    font-weight: 400;
    src: local('Wix Madefor Display'), url('../fonts/assets/WixMadeforDisplayRegular.woff') format('woff');
}
@font-face {
    font-family: 'Wix Madefor Display';
    font-style: normal;
    font-weight: 700;
    src: local('Wix Madefor Display'), url('../fonts/assets/WixMadeforDisplayBold.woff') format('woff');
}
@font-face {
    font-family: 'Wix Madefor Display';
    font-style: normal;
    font-weight: 800;
    src: local('Wix Madefor Display'), url('../fonts/assets/WixMadeforDisplayExtraBold.woff') format('woff');
}          

body{
    width:100%;
    overflow-x:hidden;
    position: relative;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 0fr 1fr 0fr;
    grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
    grid-area: header;
}
main {
    grid-area: main;
}
footer {
    grid-area: footer;
}

/* CSS general de todo el documento */

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 11px;
    margin: 15px 0px 15px 0px;
    width: 100%;
}
.parrafo-destacado {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin: 15px 0px 15px 0px;
    width: 100%;
}
a {
    text-decoration: none;
    color: #000000;
}
.titulos {
    font-family: 'Wix Madefor Display', sans-serif;
    font-weight: 100;
}
.titulos-centrados {
    font-family: 'Wix Madefor Display', sans-serif;
    font-weight: 100;
    text-align: center;
    display: block;
    margin: 0 auto;
}
.titulos-gigantes {
    font-family: 'Wix Madefor Display', sans-serif;
    font-weight: 100;
    font-size: 55px;
    line-height: 55px;
}
button {
    font-family: 'Wix Madefor Display', sans-serif;
    font-weight: 100;
    border: none;
    border-bottom: 1px solid #000000;
    padding: 10px;
    margin: 10px 0px 15px 0px;
    display: flex;
    align-items: center;
    background-color: transparent;
}
button.blanco {
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}
button.blanco:hover {
    color: #E2FFA4;
    border-bottom: 1px solid #E2FFA4;
}
button:hover {
    border-bottom: 1px solid #0025FF;
    padding-left: 20px;
    padding-right: 20px;
    color: #0025FF;
    cursor: pointer;
    transition: 0.7s;
}
.chevron {
    width: 20px;
    padding: 3px;
}
.punto-azul {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    /* background-color: #0025FF; */
    animation-name: punto-azul;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 10s;
    animation-delay: 0s;
}
.punto-azul:hover {
    width: 15px;
    height: 15px;
    transition: 1s;
    cursor: pointer;
}
@keyframes punto-azul {
    0% {
      background-color: #0025FF;
    }
    25% {
      background-color: #E2FFA4;
    }
    50% {
      background-color: #0025FF;
    }
    75% {
      background-color: #E2FFA4;
    }
    100% {
      background-color: #0025FF;
    }
  }
.punto-negro {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    /* background-color: #000000; */
    animation-name: punto-negro;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 10s;
    animation-delay: 0s;
}
.punto-negro:hover {
    width: 15px;
    height: 15px;
    transition: 1s;
    cursor: pointer;
}
@keyframes punto-negro {
    0% {
      background-color: #E2FFA4;
    }
    25% {
      background-color: #ffffff;
    }
    50% {
      background-color: #E2FFA4;
    }
    75% {
      background-color: #ffffff;
    }
    100% {
      background-color: #E2FFA4;
    }
  }
.punto-verde {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    /* background-color: #E2FFA4; */
    animation-name: punto-verde;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 10s;
    animation-delay: 0s;
}
.punto-verde:hover {
    width: 15px;
    height: 15px;
    transition: 1s;
    cursor: pointer;
}
@keyframes punto-verde {
    0% {
      background-color: #E2FFA4;
    }
    25% {
      background-color: #0025FF;
    }
    50% {
      background-color: #E2FFA4;
    }
    75% {
      background-color: #0025FF;
    }
    100% {
      background-color: #E2FFA4;
    }
  }
/* CSS DE FORMULARIOS */
form {
    font-family: 'Wix Madefor Display', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 14px 0px 15px 0px;
}
.newsletter-formulario span, label, input {
    padding: 10px;
}
form input {
    border: none;
    background-color: #F5F3EE;
    font-family: 'Wix Madefor Display', sans-serif;
    font-weight: 300;
    font-size: 10px;
    letter-spacing: 0.5px;
    padding: 10px;
    border-radius: 10px;
}
input:focus {
    outline: none;
    background-color: #E2FFA4;
}
select {
    border: none;
    background-color: #F5F3EE;
    font-weight: 300;
    font-size: 10px;
    letter-spacing: 0.5px;
    padding: 10px;
    border-radius: 10px;
}
select:hover {
    outline: none;
    background-color: #E2FFA4;
}
textarea {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 15px;
    background-color: #F5F3EE;
    font-family: 'Wix Madefor Display', sans-serif;
    font-weight: 300;
    font-size: 10px;
    letter-spacing: 0.5px;
}
textarea:focus {
    outline: none;
    background-color: #E2FFA4;
}
.newsletter-formulario {
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
form input[type=radio] {
    height: 20px;
    width: 20px;
    border-radius: 100%;
}
.tratamiento-datos-formulario {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
form input[type=checkbox] {
    height: 20px;
    width: 20px;
}
form input[type="submit"],
form input[type="reset"]{
    font-family: 'Wix Madefor Display', sans-serif;
    font-weight: 100;
    font-size: 13px;
    border: none;
    border-bottom: 1px solid #ffffff;
    border-radius: 0px;
    color: #ffffff;
    width: 25%;
    padding: 10px;
    margin: 10px 0px 15px 0px;
    display: flex;
    align-items: center;
    background-color: transparent;
}
form input[type="submit"]:hover,
form input[type="reset"]:hover{
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    transition: 0.7s;
}
.botones-formulario {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

/* CSS del header */

.logo-header {
    position: fixed;
    top: 13px;
    z-index: 100;
    right: 1%;
    width: 100px;
    padding: 13px;
    background-color: #ffffff;
    border-radius: 10px;
}
.navegacion {
    position: fixed;
    top: 30px;
    z-index: 100;
    left: 0;
}
.links-navegacion {
    display: none;
}
.links-navegacion li a p {
    font-size: 11px;
}
.boton-whatsapp {
    position: fixed;
    top: 550px;
    z-index: 100;
    left: 0;
    padding: 20px;
    width: 50px;
    background-color: #000000;
    color: #ffffff;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.boton-whatsapp:hover {
    color: #000000;
    background-color: #E2FFA4;
    transition: 0.5s;
    width: 60px;
}

/* CSS DEL MAIN DE INDEX */

main {
    background-color: #F5F3EE;
}
.portadas {
    padding: 50px;
    padding-top: 90px;
}
.titulos-portadas {
    font-family: 'Wix Madefor Display', sans-serif;
    font-weight: 100;
    font-size: 45px;
    line-height: 47px;
    padding-top: 80px;
}
.dreams {
    background-color: #ffffff;
    border-radius: 100px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    margin-left: -20px;
    line-height: 65px;
    animation-name: dreams;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 5s;
    animation-delay: 0s;
}
@keyframes dreams {
    0% {
        background-color: #ffffff;
    }
    25% {
        background-color: #f4ffdd;
    }
    50% {
        background-color: #ffffff;
    }
    75% {
        background-color: #f4ffdd;
    }
    100% {
        background-color: #ffffff;
    }
}
.video-portada {
    width: 100%;
    margin: 15px 0px 15px 0px;
    border-radius: 15px;
}
.core-process-index div {
    display: flex;
    flex-flow: row nowrap;
    margin: 10px;
    justify-content: space-evenly;
    align-items: center;
}
.portfolio-index {
    padding: 50px;
    color: #ffffff;
    background-color: #181818;
}
.cards-portfolio img {
    width: 100%;
    border-radius: 20px;
}
.cards-portfolio section {
    position: relative;
    z-index: 100;
    padding: 25px;
    border-radius: 20px;
    margin-top: -80px;
    z-index: 1;
    background-color: #F5F3EE;
    color: #000000;
}
.cards-portfolio div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cards-portfolio {
    padding: 15px 0px 15px 0px;
}
#card-hide {
    display: none;
}

/* CSS DEL FOOTER */

footer {
    padding: 50px;
    color: #ffffff;
    background-color: #181818;
}
#follow-us {
    position: block;
    margin: 0 auto;
    width: 50%;
    padding: 10px;
    border-bottom: 1px solid #ffffff;
    text-align: center;
}
.redes-sociales {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    list-style-type: none;
}
.redes-sociales a {
    padding: 20px;
    color: #ffffff;
}
.redes-sociales a:hover {
    text-decoration: underline;
}
.div-navbar-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.navbar-footer {
    font-family: 'Wix Madefor Display', sans-serif;
    font-weight: 300;
    font-size: 12px;
    list-style-type: none;
    color: #ffffff;
    text-align: center;
    margin: 10px 0px 10px 0px;
}
.navbar-footer a:hover {
    text-decoration: underline;
}
.navbar-footer a {
    color: #ffffff;
}

/* CSS DEL MAIN DE ABOUT US */
.portadas-secundarias {
    padding: 30px;
}
.logo-about-us {
    width: 100%;
}
.nuestra-esencia {
    padding: 50px;
}
#acrostico {
    width: 100%;
}
#formula {
    width: 100%;
}
.columnas-about-us {
    padding: 50px;
    text-align: center;
}
.columnas-about-us div {
    padding: 10px;
}
.columnas-about-us img {
    width: 50%;
    padding-bottom: 15px;
    display: block;
    margin: 0 auto;
}
.columnas-core-process {
    padding: 50px 60px 50px 60px;
    text-align: center;
}
.columnas-core-process div {
    padding: 10px;
}
.columnas-core-process img {
    width: 30%;
    padding-bottom: 15px;
    display: block;
    margin: 0 auto;
}

/* CSS DEL MAIN DE WHAT WE DO */
.servicios-actuales {
    padding: 50px;
    text-align: center;
}
.servicios-actuales div {
    padding: 5px;
}
.servicios-actuales img {
    width: 25%;
}
.servicios-futuros {
    padding: 50px;
    text-align: center;
}
.servicios-futuros div {
    padding: 5px;
}
.servicios-futuros img {
    width: 25%;
}

/* CSS DEL MAIN DE PORTFOLIO */
.portfolio-grid {
    background-color: #181818;
    padding: 50px;
}
.portada-portfolio {
    padding: 10px 50px 0px 50px;
    background-color: #181818;
    color: #ffffff;
}
#wa-portfolio {
    background-color: #F5F3EE;
    color: #000000;
}
#wa-portfolio:hover {
    background-color: #E2FFA9;
    color: #000000;
}

/* CSS DE CONTACT */
.main-contact {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
    "contact-1"
    "contact-2";
    row-gap: 50px;
}
.mail-tel-contact ul {
    display: flex;
    flex-flow: column nowrap;
    list-style-type: none;
}
.mail-tel-contact a {
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.mail-tel-contact a:hover {
    background-color: #E2FFA4;
    border-radius: 20px;
    padding-left: 20px;
    transition: 0.8s;
}
.contact-1 {
    padding: 50px;
    grid-area: contact-1;
}
.contact-2 {
    padding: 50px;
    background-color: #181818;
    grid-area: contact-2;
    color: #ffffff;
}
.info-contact div {
    padding: 10px 0px 10px 0px;
}


/* DISEÑO TABLET */

@media screen and (min-width: 750px) {
    .logo-header {
        width: 130px;
        padding: 15px;
        border-radius: 15px;
    }
    .parrafo-50 {
        width: 50%;
    }
    .portadas {
        position: relative;
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 50% 50%;
        grid-template-areas:
        "texto-index core-process-index"
        "texto-index video-portada";
    }
    .titulos-portadas {
        font-size: 60px;
        line-height: 60px;
    }
    .texto-index {
        grid-area: texto-index;
        z-index: 1;
    }
    .video-portada {
        grid-area: video-portada;
        width: 440px;
        position: absolute;
        left: -190px;
        top: -20px;
    }
    .core-process-index {
        position: absolute;
        left: 30px;
        top: 30px;
        padding: 20px 40px 20px 40px;
        z-index: 1;
        background-color: #ffffff;
        border-radius: 20px;
        grid-area: core-process-index;
    }
    .core-process-index div {
        justify-content: start;
    }
    .grid-portfolio-index {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
    .cards-portfolio {
        padding: 15px;
    }
    .nuestra-esencia {
        padding: 0px 50px 0px 50px;
        display: flex;
        align-items: center;
    }
    .nuestra-esencia div {
        padding: 20px;
    }
    .columnas-about-us {
        display: flex;
    }
    .columnas-core-process {
        display: flex;
        justify-content: space-between;
    }
    .columnas-core-process div {
        width: 30%;
    }

    /* WHAT WE DO */
    .servicios-actuales {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        align-items: center;
    }
    .servicio-individual {
        text-align: left;
        display: flex;
    }
    .servicio-individual img {
        width: 80px;
        margin: 10px;
    }
    .servicios-futuros {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        align-items: center;
    }
    .servicio-futuro-individual {
        margin: 0px 50px 0px 50px
    }
    .servicio-futuro-individual img {
        margin: 10px;
    }

    /* PORTFOLIO */
    .portfolio-grid {
        padding: 20px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
    }

    /* CONTACT */
    .mail-tel-contact h4{
        font-size: 30px;
    }
}

/* DISEÑO DESKTOP PEQUEÑO*/

@media screen and (min-width:1250px) {
    .links-navegacion {
        display: flex;
        flex-flow: row nowrap;
        list-style-type: none;
        background-color: #ffffff;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    .links-navegacion a {
        display: flex;
        align-items: center;
        padding: 5px;
        margin: 0px 10px 0px 10px;
    }
    .links-navegacion a img {
        padding-right: 10px;
    }
    .links-navegacion a p {
        font-family: 'Wix Madefor Display', sans-serif;
        letter-spacing: 1px;
        font-size: 9px;
    }
    .links-navegacion a:hover {
        margin-top: 3px;
        transition: 0.5s;
        color: #0025FF;
    }
    .parrafo-50 {
        padding-top: 20px;
        width: 40%;
    }
    .portadas {
        padding: 110px;
        padding-top: 140px;
        grid-template-columns: 80% 20%;
        grid-template-rows: 50% 50%;
    }
    .titulos-portadas {
        font-family: 'Wix Madefor Display', sans-serif;
        font-weight: 100;
        font-size: 90px;
        line-height: 100px;
        padding-top: 80px;
    }
    .video-portada {
        left: -450px;
        top: 10px;
        width: 550px;
        margin-bottom: 30px;
    }
    .core-process-index {
        z-index: 1;
        left: -20px;
        top: 5px;
        background-color: transparent;
        grid-area: core-process-index;
    }
    .portfolio-index {
        padding: 110px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }
    .grid-portfolio-index {
        justify-content: center;
    }
    .titulos-gigantes {
        font-size: 90px;
        line-height: 80px;
        padding-right: 20px;
    }
    footer {
        padding: 50px 150px 50px 150px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    /* ABOUT US */
    .portadas-secundarias {
        padding: 50px 200px 50px 200px;
    }
    .nuestra-esencia {
        padding: 0px 100px 0px 100px;
    }
    .nuestra-esencia div {
        padding: 30px;
    }
    .columnas-about-us div {
        padding: 0px 50px 0px 50px;
    }
    .columnas-core-process div {
        padding: 0px 50px 0px 50px;
    }
    /* WHAT WE DO */
    .servicios-actuales {
        padding: 0px 200px 0px 200px;
    }
    .servicios-futuros {
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 50% 50%;
        align-items: center;
        padding: 20px 100px 20px 100px;
    }
    .servicio-futuro-individual {
        margin: 0px 50px 0px 50px
    }
    /* PORTFOLIO */
    .portfolio-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
    }
    .portada-portfolio {
        padding: 130px 100px 20px 100px;
    }

    /* CONTACT */
    .main-contact {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100vh;
        grid-template-areas:
        "contact-1 contact-2";
    }
    .contact-1 {
        padding: 50px 50px 50px 100px;
    }
    .contact-2 {
        padding: 120px 80px 50px 80px;
    }
}

/* DISEÑO DESKTOP MEDIANO*/

@media screen and (min-width:1550px) {
    .titulos-portadas {
        font-size: 120px;
        line-height: 140px;
    }
    .video-portada {
        left: -450px;
        top: 10px;
        width: 670px;
        margin-bottom: 50px;
    }
    #card-hide {
        display: block;
    }
}

/* DISEÑO DESKTOP GRANDE (IMAC 24')*/

@media screen and (min-width:1980px) {
    .titulos-portadas {
        font-size: 140px;
    }
    p {
        font-size: 17px;
    }
    .video-portada {
        left: -650px;
        top: 10px;
        width: 800px;
        margin-bottom: 50px;
    }
    #card-hide {
        display: block;
    }
    .grid-portfolio-index {
        margin-top: 70px;
    }
}