@charset "UTF-8";
/* Este Maps está aplicado en todos los colores que hay en los diferentes HTML del Sitio Web */
/* Variables de tipografías */
/* Variables de bordes */
/* Este Mixin está aplicado en ".acróstico" y ".fórmula" del partial main-about-us */
/* Lo añado con este código: @include centrar (x);" */
/* Este Mixin está aplicado en los Flex existentes en los 5 HTML */
/* Lo añado con este código: @include flex ($direction:, $justify:, $align:);" */
.blanco, button {
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 100;
  border: none;
  padding: 10px;
  margin: 10px 0px 15px 0px;
  display: flex;
  align-items: center;
  background-color: transparent;
}
.blanco:hover, button:hover {
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  transition: 0.7s;
}

/* Este Extends está aplicado en los botones del partial "_botones.scss" */
/* párrafos */
p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.7em;
  margin: 15px 0px 15px 0px;
  width: 100%;
}

.parrafo-destacado {
  font-family: "Wix Madefor Display", sans-serif;
  line-height: 1.3em;
  font-weight: 500;
  font-size: 1em;
  margin: 15px 0px 15px 0px;
  width: 100%;
}

/* títulos */
.titulos {
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 100;
}

.titulos-centrados {
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 100;
  text-align: center;
}

.titulos-gigantes {
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 100;
  font-size: 55px;
  line-height: 55px;
}

.titulos-portadas {
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 100;
  font-size: 45px;
  line-height: 47px;
  padding-top: 80px;
}

.titulo-portada-contact {
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 100;
  font-size: 45px;
  line-height: 50px;
  padding-top: 130px;
}

/* Media queries tablet */
@media screen and (min-width: 768px) {
  .parrafo-50 {
    width: 50%;
  }
  .titulos-portadas {
    font-size: 60px;
    line-height: 60px;
  }
  .texto-index {
    grid-area: texto-index;
    z-index: 1;
  }
}
/* Media queries desktop pequeño */
@media screen and (min-width: 1250px) {
  .parrafo-50 {
    padding-top: 20px;
    width: 40%;
  }
  .titulos-portadas {
    font-family: "Wix Madefor Display", sans-serif;
    font-weight: 100;
    font-size: 90px;
    line-height: 100px;
    padding-top: 80px;
  }
  .titulo-portada-contact {
    font-size: 70px;
    line-height: 70px;
  }
  .titulos-gigantes {
    font-size: 80px;
    line-height: 80px;
    padding-right: 20px;
  }
}
/* Media queries desktop mediano */
@media screen and (min-width: 1550px) {
  .titulos-portadas {
    font-size: 120px;
    line-height: 140px;
  }
}
/* Media queries desktop grande (iMac 24") */
@media screen and (min-width: 1980px) {
  p {
    font-size: 17px;
  }
  .titulos-portadas {
    font-size: 140px;
  }
}
@font-face {
  font-family: "Wix Madefor Text";
  font-style: normal;
  font-weight: 400;
  src: local("Wix Madefor Text"), url("../fonts/assets/WixMadeforTextRegular.woff") format("woff");
}
@font-face {
  font-family: "Wix Madefor Text";
  font-style: italic;
  font-weight: 400;
  src: local("Wix Madefor Text"), url("../fonts/assets/WixMadeforTextItalic.woff") format("woff");
}
@font-face {
  font-family: "Wix Madefor Text";
  font-style: normal;
  font-weight: 700;
  src: local("Wix Madefor Text"), url("../fonts/assets/WixMadeforTextBold.woff") format("woff");
}
@font-face {
  font-family: "Wix Madefor Text";
  font-style: italic;
  font-weight: 700;
  src: local("Wix Madefor Text"), url("../fonts/assets/WixMadeforTextBoldItalic.woff") format("woff");
}
@font-face {
  font-family: "Wix Madefor Text";
  font-style: normal;
  font-weight: 800;
  src: local("Wix Madefor Text"), url("../fonts/assets/WixMadeforTextXBold.woff") format("woff");
}
@font-face {
  font-family: "Wix Madefor Text";
  font-style: italic;
  font-weight: 800;
  src: local("Wix Madefor Text"), url("../fonts/assets/WixMadeforTextXBoldItalic.woff") format("woff");
}
@font-face {
  font-family: "Wix Madefor Display";
  font-style: normal;
  font-weight: 400;
  src: local("Wix Madefor Display"), url("../fonts/assets/WixMadeforDisplayRegular.woff") format("woff");
}
@font-face {
  font-family: "Wix Madefor Display";
  font-style: normal;
  font-weight: 700;
  src: local("Wix Madefor Display"), url("../fonts/assets/WixMadeforDisplayBold.woff") format("woff");
}
@font-face {
  font-family: "Wix Madefor Display";
  font-style: normal;
  font-weight: 800;
  src: local("Wix Madefor Display"), url("../fonts/assets/WixMadeforDisplayExtraBold.woff") format("woff");
}
/* botones generales */
button {
  border-bottom: 1px solid #000;
  color: #000;
}
button:hover {
  border-bottom: 1px solid #0025FF;
  color: #0025FF;
}

.blanco {
  color: #fff;
  border-bottom: 1px solid #fff;
}
.blanco:hover {
  color: #E2FFA4;
  border-bottom: 1px solid #E2FFA4;
}

.chevron {
  width: 20px;
  padding: 3px;
}

/* botones form */
.botones-formulario {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

/* botones del header */
.boton-whatsapp {
  position: fixed;
  top: 550px;
  z-index: 100;
  left: 0;
  padding: 20px;
  width: 50px;
  background-color: #000;
  color: #fff;
  font-size: 10px;
  letter-spacing: 1px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
.boton-whatsapp:hover {
  color: #000;
  background-color: #E2FFA4;
  transition: 0.5s;
  width: 60px;
}

#wa-portfolio {
  background-color: #F5F3EE;
  color: #000;
}
#wa-portfolio:hover {
  background-color: #E2FFA4;
  color: #000;
}

.cards-portfolio {
  padding: 15px 0px 15px 0px;
}
.cards-portfolio img {
  width: 100%;
  border-radius: 20px;
}
.cards-portfolio section {
  position: relative;
  z-index: 100;
  padding: 25px;
  border-radius: 30px;
  margin-top: -40px;
  z-index: 1;
  background-color: #F5F3EE;
  color: #000;
}
.cards-portfolio section .info-cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.contenido-modal {
  text-align: center;
  background-color: #F5F3EE;
}
.contenido-modal div {
  padding: 10px;
}
.contenido-modal div .logos-clientes {
  border-radius: 0;
  width: 200px;
  display: block;
  margin: 0 auto;
  padding: 20px;
}
.contenido-modal .galeria-clientes img {
  border-radius: 50px;
  padding: 20px;
}

.header-modal {
  height: 1px;
  background-color: #F5F3EE;
  border: none;
}

.boton-cerrar-modal:hover {
  border: none;
}

/* Media queries tablet */
@media screen and (min-width: 768px) {
  .cards-portfolio {
    padding: 15px;
  }
  .cards-portfolio section {
    height: 215px;
  }
  .contenido-modal {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    /* Lo siguiente es el scroll vertical: */
  }
  .contenido-modal .galeria-clientes {
    display: grid;
    grid-auto-flow: row;
    gap: 1px;
    overflow-x: auto;
    overscroll-behavior-y: contain;
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
    scrollbar-width: none;
  }
  .contenido-modal .galeria-clientes > img {
    scroll-snap-align: start;
  }
  .contenido-modal .galeria-clientes img {
    border-radius: 60px;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
/* Media queries desktop  */
@media screen and (min-width: 1250px) {
  .contenido-modal {
    grid-template-columns: 30% 70%;
    align-items: center;
    height: 100%;
    /* Lo siguiente es el scroll horizontal: */
  }
  .contenido-modal div {
    padding: 30px;
  }
  .contenido-modal .galeria-clientes {
    grid-auto-flow: column;
    overflow-y: auto;
    overscroll-behavior-x: contain;
  }
  .contenido-modal .galeria-clientes > img {
    scroll-snap-align: start;
  }
  .contenido-modal .galeria-clientes img {
    width: 600px;
  }
}
footer {
  padding: 50px;
  color: #fff;
  background-color: #181818;
}
footer div #follow-us {
  position: block;
  margin: 0 auto;
  width: 50%;
  padding: 10px;
  border-bottom: 1px solid #fff;
  text-align: center;
}
footer div .redes-sociales {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  font-family: "Wix Madefor Display", sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
  list-style-type: none;
}
footer div .redes-sociales li a {
  padding: 20px;
  color: #fff;
}
footer div .redes-sociales li a:hover {
  text-decoration: underline;
}

/* Media queries desktop pequeño */
@media screen and (min-width: 1250px) {
  footer {
    padding: 50px 150px 50px 150px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
form {
  font-family: "Wix Madefor Display", sans-serif;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin: 14px 0px 15px 0px;
}
form input {
  border: none;
  background-color: #F5F3EE;
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 300;
  font-size: 10px;
  letter-spacing: 0.5px;
  padding: 10px;
  border-radius: 10px;
}
form input:focus {
  outline: none;
  background-color: #E2FFA4;
}
form span, form label {
  padding: 10px;
}
form select {
  border: none;
  background-color: #F5F3EE;
  font-weight: 300;
  font-size: 10px;
  letter-spacing: 0.5px;
  padding: 10px;
  border-radius: 10px;
}
form select:hover {
  outline: none;
  background-color: #E2FFA4;
}
form textarea {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 15px;
  background-color: #F5F3EE;
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 300;
  font-size: 10px;
  letter-spacing: 0.5px;
}
form textarea:focus {
  outline: none;
  background-color: #E2FFA4;
}
form [type=radio] {
  cursor: pointer;
  height: 20px;
  width: 20px;
  border-radius: 100%;
}
form [type=checkbox] {
  cursor: pointer;
  height: 20px;
  width: 20px;
}
form [type=submit], form [type=reset] {
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 100;
  font-size: 13px;
  border: none;
  border-bottom: 1px solid #fff;
  border-radius: 0px;
  color: #fff;
  width: 25%;
  padding: 10px;
  margin: 10px 0px 15px 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}
form [type=submit]:hover, form [type=reset]:hover {
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  transition: 0.7s;
}

.newsletter-formulario {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.tratamiento-datos-formulario {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

body {
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

main {
  background-color: #F5F3EE;
}

a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #000;
}

/* Color de texto seleccionado */
::-moz-selection {
  background-color: #F5FFDE;
}
::selection {
  background-color: #F5FFDE;
}

.logo-header {
  position: fixed;
  top: 13px;
  z-index: 100;
  right: 1%;
  width: 100px;
  padding: 13px;
  background-color: #fff;
  border-radius: 10px;
}

.logo-about-us {
  width: 100%;
}

/* Media queries tablet */
@media screen and (min-width: 768px) {
  .logo-header {
    width: 130px;
    padding: 15px;
    border-radius: 15px;
  }
}
.nuestra-esencia {
  padding: 50px;
}
.nuestra-esencia .acrostico {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.nuestra-esencia .acrostico span {
  margin: 6px;
}
.nuestra-esencia .acrostico span #vertical {
  color: #fff;
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  background-color: #000;
  text-orientation: upright;
  font-size: 1.15em;
}
.nuestra-esencia .acrostico span h6 {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
}

#formula {
  width: 70%;
  display: block;
  margin: 0 auto;
}

.columnas-about-us {
  padding: 50px;
  text-align: center;
}
.columnas-about-us div {
  padding: 10px;
}
.columnas-about-us div img {
  width: 50%;
  padding-bottom: 15px;
  display: block;
  margin: 0 auto;
}

.columnas-core-process {
  padding: 50px 60px 50px 60px;
  text-align: center;
}
.columnas-core-process div {
  padding: 10px;
}
.columnas-core-process div img {
  width: 30%;
  padding-bottom: 15px;
  display: block;
  margin: 0 auto;
}

/* Media queries tablet */
@media screen and (min-width: 768px) {
  .nuestra-esencia {
    padding: 0px 50px 0px 50px;
    display: flex;
    align-items: center;
  }
  .nuestra-esencia div {
    padding: 10px;
  }
  .columnas-about-us {
    display: flex;
    justify-content: space-between;
  }
  .columnas-core-process {
    display: flex;
    justify-content: space-between;
  }
  .columnas-core-process div {
    width: 400px;
  }
  .columnas-core-process div img {
    width: 100px;
    height: 100px;
  }
}
/* Media queries desktop pequeño */
@media screen and (min-width: 1250px) {
  .nuestra-esencia {
    padding: 0px 100px 0px 100px;
  }
  .nuestra-esencia div {
    padding: 30px;
  }
  .columnas-about-us div {
    padding: 0px 50px 0px 50px;
  }
  .columnas-core-process {
    padding: 30px 100px 0px 100px;
  }
}
.mail-tel-contact ul {
  display: flex;
  flex-flow: column nowrap;
  list-style-type: none;
}
.mail-tel-contact ul li a {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.mail-tel-contact ul li a:hover {
  background-color: #E2FFA4;
  border-radius: 20px;
  padding-left: 20px;
  transition: 0.8s;
}

.contact-1 {
  padding: 50px;
  background-color: #F5F3EE;
}

.contact-2 {
  padding: 50px;
  background-color: #181818;
  color: #fff;
}

.info-contact div {
  padding: 10px 0px 10px 0px;
}

/* Media queries tablet */
@media screen and (min-width: 768px) {
  .mail-tel-contact ul li a h5 {
    font-size: 25px;
  }
}
/* Media queries desktop pequeño */
@media screen and (min-width: 1250px) {
  .contact-1 {
    padding: 100px 50px 50px 100px;
  }
  .contact-2 {
    padding: 120px 80px 50px 80px;
  }
}
.dreams {
  background-color: #fff;
  border-radius: 100px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  margin-left: -20px;
  line-height: 65px;
}

.video-portada {
  width: 100%;
  margin: 15px 0px 15px 0px;
  border-radius: 15px;
}

.core-process-index div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  margin: 10px;
}
.core-process-index div .punto-azul {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #0025FF;
}
.core-process-index div .punto-negro {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #000;
}
.core-process-index div .punto-verde {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #E2FFA4;
}

.portfolio-index {
  padding: 50px;
  background-color: #181818;
}
.portfolio-index .texto-portfolio-index {
  color: #fff;
}

#card-hide {
  display: none;
}

/* Media queries tablet */
@media screen and (min-width: 768px) {
  .video-portada {
    grid-area: video-portada;
    width: 440px;
    position: absolute;
    left: -190px;
    top: -20px;
  }
  .core-process-index {
    position: absolute;
    left: 30px;
    top: 30px;
    padding: 20px 40px 20px 40px;
    z-index: 1;
    background-color: #fff;
    border-radius: 20px;
    grid-area: core-process-index;
  }
  .core-process-index div {
    justify-content: start;
  }
  .grid-portfolio-index {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
}
/* Media queries desktop pequeño */
@media screen and (min-width: 1250px) {
  .video-portada {
    left: -450px;
    top: 10px;
    width: 550px;
    margin-bottom: 30px;
  }
  .core-process-index {
    z-index: 1;
    left: -20px;
    top: 5px;
    background-color: transparent;
    grid-area: core-process-index;
  }
  .portfolio-index {
    padding: 110px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
  .grid-portfolio-index {
    justify-content: center;
  }
}
/* Media queries desktop mediano */
@media screen and (min-width: 1550px) {
  .video-portada {
    left: -450px;
    top: 10px;
    width: 670px;
    margin-bottom: 50px;
  }
  #card-hide {
    display: block;
  }
}
/* Media queries desktop grande (iMac 24") */
@media screen and (min-width: 1980px) {
  .video-portada {
    left: -650px;
    top: 10px;
    width: 800px;
    margin-bottom: 50px;
  }
  #card-hide {
    display: block;
  }
  .grid-portfolio-index {
    margin-top: 70px;
  }
}
.portfolio-grid {
  background-color: #181818;
  padding: 50px;
}

/* Media queries tablet */
@media screen and (min-width: 768px) {
  .portfolio-grid {
    padding: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
  }
}
/* Media queries desktop pequeño */
@media screen and (min-width: 1250px) {
  .portfolio-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
}
.servicios-actuales {
  padding: 50px;
  text-align: center;
}
.servicios-actuales div {
  padding: 5px;
}
.servicios-actuales img {
  width: 70px;
  height: 70px;
}

.servicios-futuros {
  padding: 50px;
  text-align: center;
}
.servicios-futuros div {
  padding: 5px;
}
.servicios-futuros img {
  width: 70px;
  height: 70px;
}

/* Media queries tablet */
@media screen and (min-width: 768px) {
  .servicios-actuales {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-items: center;
  }
  .servicios-actuales .servicio-individual {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
  }
  .servicios-actuales .servicio-individual img {
    margin: 10px;
  }
  .servicios-futuros {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
  }
  .servicios-futuros .servicio-futuro-individual {
    margin: 0px 50px 0px 50px;
  }
  .servicios-futuros .servicio-futuro-individual img {
    margin: 10px;
  }
}
/* Media queries desktop pequeño */
@media screen and (min-width: 1250px) {
  .servicios-actuales {
    padding: 0px 200px 50px 200px;
  }
  .servicios-futuros {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100%;
    align-items: center;
  }
  .servicios-futuros .servicio-futuro-individual {
    margin: 0px 50px 0px 50px;
  }
}
/* Menú hamburguesa fondo claro */
.hamburguesa {
  background-color: #F5F3EE;
  font-family: "Wix Madefor Display", sans-serif;
  font-size: 12px;
  font-weight: 100;
}
.hamburguesa div li a {
  padding: 10px;
  text-align: center;
}
.hamburguesa div li a:hover {
  border-radius: 10px;
  background-color: #F5FFDE;
}
.hamburguesa .boton-hamburguesa {
  border: none;
  background-color: #181818;
  border-radius: 7px;
}
.hamburguesa .boton-hamburguesa:hover {
  border-radius: 7px;
  border: none;
}

/* Menú hamburguesa fondo oscuro */
.hamburguesa-fondo-negro {
  background-color: #181818;
  font-family: "Wix Madefor Display", sans-serif;
  font-size: 12px;
  font-weight: 100;
}
.hamburguesa-fondo-negro div li a {
  padding: 10px;
  text-align: center;
}
.hamburguesa-fondo-negro div li a:hover {
  border-radius: 10px;
  background-color: #232323;
}
.hamburguesa-fondo-negro .boton-hamburguesa-fondo-negro {
  border: none;
  background-color: #F5F3EE;
  border-radius: 7px;
}
.hamburguesa-fondo-negro .boton-hamburguesa-fondo-negro:hover {
  border-radius: 7px;
  border: none;
}

/* Navbar en desktop */
.navegacion {
  position: fixed;
  top: 30px;
  z-index: 100;
  left: 0;
}

.links-navegacion {
  display: none;
}

/* Navbar del footer */
.div-navbar-footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.div-navbar-footer .navbar-footer {
  font-family: "Wix Madefor Display", sans-serif;
  font-weight: 300;
  font-size: 12px;
  list-style-type: none;
  color: #fff;
  text-align: center;
  margin: 10px 0px 10px 0px;
}
.div-navbar-footer .navbar-footer a {
  color: #fff;
}
.div-navbar-footer .navbar-footer a:hover {
  text-decoration: underline;
}

/* Media queries large */
@media screen and (min-width: 992px) {
  .hamburguesa {
    display: none;
  }
  .hamburguesa-fondo-negro {
    display: none;
  }
  .links-navegacion {
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
    background-color: #fff;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .links-navegacion li a {
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 0px 10px 0px 10px;
  }
  .links-navegacion li a img {
    padding-right: 10px;
  }
  .links-navegacion li a p {
    font-family: "Wix Madefor Display", sans-serif;
    letter-spacing: 1px;
    font-size: 12px;
  }
  .links-navegacion li a p:hover {
    padding-top: 3px;
    transition: 0.5s;
    color: #0025FF;
  }
}
.portadas {
  padding: 50px;
  padding-top: 90px;
}

.portadas-secundarias {
  padding: 30px;
}

.portada-portfolio {
  padding: 0px 50px 10px 50px;
  background-color: #181818;
  color: #fff;
}

/* Media queries tablet */
@media screen and (min-width: 768px) {
  .portadas {
    position: relative;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "texto-index core-process-index" "texto-index video-portada";
  }
}
/* Media queries large */
@media screen and (min-width: 992px) {
  .portadas {
    padding-top: 200px;
    padding-left: 150px;
  }
  .portada-portfolio, .portadas-secundarias {
    padding-top: 120px;
  }
}
/* Media queries desktop pequeño */
@media screen and (min-width: 1250px) {
  .portadas {
    padding: 110px;
    padding-top: 140px;
    grid-template-columns: 80% 20%;
    grid-template-rows: 50% 50%;
  }
  .portadas-secundarias {
    padding: 50px 200px 50px 200px;
  }
  .portada-portfolio {
    padding: 130px 100px 20px 100px;
  }
}
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}/*# sourceMappingURL=styles.css.map */